.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.menu-container .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0;
  margin: 25px 0px 0px 3px; 
}

.menu-container .bun {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: rgb(116, 75, 192);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px 0px 3px; 
  border-radius: 4px;
}

/* Middle Line */

.menu-container .bun .burger {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: all 0.4s ease;
}

.menu-container .bun .burger:before,
.menu-container .bun .burger:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

.menu-container .bun .burger:after {
  top: 7px;
}

/* Burger Animation */

.menu-container .toggler:checked + .bun .burger{
  transform: rotate(135deg); 
}

.menu-container .toggler:checked + .bun .burger:before,
.menu-container .toggler:checked + .bun .burger:after {
  top: 0;
  transform: rotate(90deg); 
}

.menu-container .toggler:checked:hover + .bun .burger {
  transform: rotate(225deg);
}

/* Show Menu */

.menu-container .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-container .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-container .toggler:checked ~ .menu > div > div {
  opacity: 1; 
  transition: opacity 0.4s ease;
}

.menu-container .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container .menu > div {
  background-color: rgb(98, 36, 206, 0.8);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-container .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: all 0.4s ease;
}

.menu-container .menu > div > div > ul > li {
  list-style: none;
  color: white;
  font-size: 25px;
  padding: 10px;
}

.menu-container .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

@media screen and (max-width: 580px) {

.nav-link {
  display: none;
}

.menu-container {
  display: inline-block;
}

}