* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gupter', serif;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  border-bottom: 1px solid grey;
  padding: 15px 0px 10px 0px;
}

#left-nav {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 0px 7px 0px 7px;
  font-size: 12px;
}

.nav-link:hover {
  text-decoration: underline;
  color: black;
}

#logo {
  height: 40px;
  width: 150px;
  margin-bottom: 6px;
  border-radius: 26px;
  border: 2px solid rgb(132, 105, 230);
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  margin-top: 3px;
}

#logo-link {
  justify-self: center;
}

#right-nav {
  grid-column-start: 3;
  grid-column-end: 4;
  align-self: center;
  justify-self: end;
  padding-right: 25px;
}

#css-grid {
  display: grid;
  grid-template-columns: .8fr 3fr .2fr;
}

#side-nav {
  margin: 45px 0px 0px 8px;
  border: 1px solid black;
  height: 215px;
  width: 73%;
  padding-top: 12px;
  background-color: rgb(231, 225, 236);
}

.side-nav-link {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  padding-left: 9px;
  text-decoration: none;
  color: black;
}

.side-nav-link:hover {
  color: rgb(132, 105, 230);
  border-left: 5px solid rgb(132, 105, 230);
}

#all-faqs {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 30px;
  display: grid;
  grid-template-rows: repeat(11, auto);
  grid-gap: 25px 0px;
}

.faq-container {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-gap: 8px 0px;
  line-height: 1.5;
}

b {
  margin-right: 8px;
}

h1, h2 {
  color: rgb(132, 105, 230);;
}

.explanation, .definition, .tips {
  margin-left: 16px;
}

#faq-head {
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 10px 0px 10px 0px;
}

#purchase-price { 
  grid-row-start: 2;
  grid-row-end: 3;
}

#pro-mon-rent { 
  grid-row-start: 3;
  grid-row-end: 4;
}

#year-tax { 
  grid-row-start: 4;
  grid-row-end: 5;
}

#year-main-cost { 
  grid-row-start: 5;
  grid-row-end: 6;
}

#ren-cost { 
  grid-row-start: 6;
  grid-row-end: 7;
}

#insurance { 
  grid-row-start: 7;
  grid-row-end: 8;
}

#utilities { 
  grid-row-start: 8;
  grid-row-end: 9;
}

#vac-rate { 
  grid-row-start: 9;
  grid-row-end: 10;
}

#clo-cost { 
  grid-row-start: 10;
  grid-row-end: 11;
}