* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gupter', serif;
  background-image: url("/img/sign_n_log.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 45%;
}

#css-grid {
  display: grid;
  grid-template-rows: 1fr .5fr auto;
  grid-template-columns: .28fr auto .28fr;
  height: 100vh;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: 2fr auto 2fr;
  border-bottom: 1px solid grey;
  padding: 15px 0px 10px 0px;
  height: 83px;
}

#left-nav {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 0px 7px 0px 7px;
  display: inline;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
  color: black;
}

#logo {
  height: 44px;
  width: 154px;
  margin-bottom: 6px;
  border-radius: 26px;
  border: 2px solid rgb(132, 105, 230);
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  margin-top: 3px;
}

#logo-link {
  justify-self: center;
}

#home-link {
  text-decoration: none;
  color: rgb(97, 97, 245);
  letter-spacing: 1.4px;
}

#right-nav {
  grid-column-start: 3;
  grid-column-end: 4;
  align-self: center;
  justify-self: end;
  padding-right: 25px;
}

#css-grid {
  display: grid;
  grid-template-columns: .05fr 1fr .05fr;
}

#my-properties {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: .4fr 2fr;
  background-color: white;
  border-radius: 12px;
  margin-top: 54px;
}

#my-properties-head-container {
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  color: rgb(116, 75, 192);
  margin-top: 26px;
}

#my-properties-output {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 0px 30px 30px 30px;
}

.delete {
  padding: 10px;
  background-color: rgb(116, 75, 192);
  color: white;
  border-radius: 8px;
  border: .5px solid rgb(71, 83, 252);
  margin: 0px 8px 0px 8px;
}

.delete:hover {
  color: rgb(97, 97, 245);
  background-color: rgb(224, 206, 206);
  border: .5px solid rgb(97, 97, 245);
  transition: all 1s ease;
}

.delete:focus {
  padding: 10px;
  background-color: rgb(116, 75, 192);
  color: white;
  border-radius: 8px;
  border: .5px solid rgb(71, 83, 252);
  margin: 0px 8px 0px 8px;
  outline: none;
}

.addressHeader {
  width: 374px;
}