* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gupter', serif;
}

#css-grid {
  display: grid;
  grid-template-rows: 2fr 4fr 1fr;
  grid-template-columns: 1fr 1fr;
}

header {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  border-bottom: 1px solid grey;
  padding: 25px 0px 25px 8px;
}

#left-nav {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 0px 7px 0px 7px;
}

.nav-link:hover {
  text-decoration: underline;
  color: black;
}

#center-logo {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  font-size: 22px;
  font-weight: bold;
  color: rgb(97, 97, 245);
  letter-spacing: 1.4px;
}

#right-nav {
  grid-column-start: 3;
  grid-column-end: 4;
  align-self: center;
  justify-self: end;
  padding-right: 25px;
}

#all-results-content {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

#result-heading-container {
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  color: rgb(97, 97, 245);
  /* border-bottom: 1px solid black; */
  margin-top: 15px;
}

#res-icon {
  margin-right: 5px;
}

.results{
  grid-row-start: 2;
  grid-row-end: 3;
}

#all-form-content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 15px;
  display: grid;
  grid-template-rows: .5fr 4fr;
}

#property-details-heading-container {
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  color: rgb(97, 97, 245);
}

#the-form {
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}

label {
  display: block;
}

.form-control {
  width: 400px;
  margin: 8px 0px 8px 0px;
}

.form-button {
  padding: 10px;
  background-color: rgb(97, 97, 245);
  color: white;
  border-radius: 8px;
  border: .5px solid rgb(71, 83, 252);
  margin: 8px 8px 0px 8px;
}

.form-button:hover {
  color: rgb(97, 97, 245);
  background-color: rgb(224, 206, 206);
  border: .5px solid rgb(97, 97, 245);
  font-weight: bold;
  transition: all 1s ease;
}

#zillow-and-map-container {
  grid-row-start: 1;
  grid-row-end: 3;
}

